{{> head }}

{{> navbar }} <!– Jala a navbar.hbs –>

<div class="row">

    <div class="col-8">
        <h1>Importando a Pug</h1>
        <p>
            Pero me gusta más mí Pato
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/pug.png" class="img-thumbnail">
    </div>

</div>   

    {{> footer }}